<!DOCTYPE html>
<html>
  <head>
    <title>Allis5ne</title>
    <style>
      h1{
        font-size:50px;
        color: rgb(0, 100, 100);
        text-align:center;
      }
      h2{font-size:70px;}
      h3{font-size:30px;
        color: rgb(0, 100, 100);
        text-align:center;
      }
      #container{
        max-width:720px;
        margin:0 auto;
      }
      }
    </style>
  </head>
    <body>
      <div id ="container">
      <h1>Allis5ne</h1>
      <h4>Home</h4>
      <button>login</button>
        <h2> Lets live a happy and healthy life</h2>
      <img id="banner" src="https://th.bing.com/th/id/R.2217ead96ec111e0f6ac1f8c3e296e15?rik=9sTchLoCrQMOmQ&riu=http%3a%2f%2fclipart-library.com%2fnewhp%2f188-1883308_recognize-and-respond-to-mental-health.png&ehk=Oe7JWtB6jOydDtUJLgTrpjzp7rs%2bvcaveXzZEduGGi4%3d&risl=&pid=ImgRaw&r=0" height="320">
     
      <h3>About Allis5ne</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sodales ut etiam sit amet nisl purus in. Tristique et egestas quis ipsum suspendisse. Nulla porttitor massa id neque aliquam vestibulum morbi blandit. Pharetra convallis posuere morbi leo urna molestie at elementum.</p>
      </div>
    </body>
</html>